spring:
  application:
    name: query-service
  datasource:
    url: jdbc:postgresql://${POSTGRES_HOST:localhost}:${POSTGRES_PORT:5432}/${POSTGRES_DB:unified}
    username: ${POSTGRES_USER:engine_user}
    password: ${POSTGRES_PASSWORD:secret}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  endpoint:
    health:
      show-details: always
  metrics:
    tags:
      application: query-service

cache:
  grpc:
    host: ${CACHE_GRPC_HOST:localhost}
    port: ${CACHE_GRPC_PORT:9090}
